<section class="l-sec-contact">
                    <div class="l-inner l-sec-contact__inner">
                        <h2 class="c-heading l-sec-contact__heading">Tell us about your requirement</h2>
                        <div class="l-sec-contact__form-wrapper c-contact-form__wrapper">
                            <p class="c-heading c-contact-form__heading">Contact Us</p>
                            <form class="f-form c-contact-form">
                                <div class="f-field f-field--grey c-contact-form__field">
                                    <input type="text" class="f-field__text" placeholder="*Name">
                                </div>
                                <div class="f-field f-field--grey c-contact-form__field">
                                    <input type="email" class="f-field__email" placeholder="*Your Email Adress">
                                </div>
                                <div class="f-field f-field--grey c-contact-form__field c-contact-form__field--big">
                                    <textarea cols="30" rows="7" class="f-field__textarea"></textarea>
                                </div>
                                <div class="f-actions c-contact-form__actions">
                                    <button type="submit" aria-label="Submit" class="c-btn c-btn--red">Submit</button>
                                </div>
                            </form>
                        </div>
                       

                        <div class="l-sec-contact__adresses">
                            <div class="c-contact-adress">
                                <p class="c-heading c-contact-adress__heading">Adress</p>
                                <p class="c-contact-adress__adress">Arkenea LLC 47 S 2nd St #152, San Jose, CA 95113, USA.</p>
                            </div>

                            <div class="c-contact-adress">
                                <p class="c-heading c-contact-adress__heading">Phone</p>
                                <p class="c-contact-adress__adress"><a href="tel:(428)350-1761">(428)350-1761</a></p>
                            </div>

                            <div class="c-contact-adress">
                                <p class="c-heading c-contact-adress__heading">Email</p>
                                <p class="c-contact-adress__adress"><a href="mailto:contact@arkenea.com">contact@arkenea.com</a></p>
                            </div>
                        </div>
        
                    </div>
                </section>