<section class="l-sec-testimonials">
                    <div class="l-inner l-sec-testimonials__inner">
                        <div class="l-sec-testimonials__content js-testimonials-slick">
                            <blockquote class="l-sec-testimonials__item">
                                <p class="l-sec-testimonials__quote">"Arkenea thinks outside the box and offer solutions through the creative process of developing apps. 
                                    They care about their customers."</p>
                                <p class="l-sec-testimonials__author"><strong>Hypnotherapist and Best Selling Author</strong> 
                                    - GLENN HARROLD</p>
                            </blockquote>
        
                            <blockquote class="l-sec-testimonials__item">
                                <p class="l-sec-testimonials__quote">"Arkenea thinks outside the box and offer solutions through the creative process of developing apps. 
                                    They care about their customers."</p>
                                <p class="l-sec-testimonials__author"><strong>Hypnotherapist and Best Selling Author</strong> 
                                    - GLENN HARROLD</p>
                            </blockquote>
        
                            <blockquote class="l-sec-testimonials__item">
                                <p class="l-sec-testimonials__quote">"Arkenea thinks outside the box and offer solutions through the creative process of developing apps. 
                                    They care about their customers."</p>
                                <p class="l-sec-testimonials__author"><strong>Hypnotherapist and Best Selling Author</strong> 
                                    - GLENN HARROLD</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="l-sec-testimonials__background"></div>
                </section>