<section class="l-hero">
                    <div class="l-inner l-hero__inner">
                        <div class="l-hero__content">
                            <h1 class="l-hero__title">Technical Cofounders</br>to your Mobile &</br> Web Startup</h1>
                            <p class="l-hero__subtitle">To build a successful app, you need a smart product strategy, engaging UX, killer designs, and a talented mobile development team.</p>
                            <p class="l-hero__text">
                                <strong>Good news</strong>
                                - You've come to the right place.
                            </p>
                            <div class="l-hero__request-quote c-request-quote">
                                <form action="#" class="f-form c-request-quote__form">
                                    <div class="f-field c-request-quote__field">
                                        <input class="f-field__text c-request-quote__input-text" type="text" placeholder="*Your Email Adress">
                                    </div>
                                    
                                    <div class="f-actions c-request-quote__actions">
                                        <input class="c-btn c-btn--red c-request-quote__input-submit" type="submit" value="Request a Quote">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="l-hero__background"></div>
                </section>