<section class="l-sec-success">
                    <div class="l-inner l-sec-success__inner">
                        <h2 class="c-heading c-heading--underscored l-sec-success__title">Our Success Stories</h2>
                        <ul class="c-posts-list">
                            <li class="c-posts-list__item">
                                <div class="c-post">
                                    <img class="c-post__thumbnail" src="static/img/column_image_1.png" alt="column image 1">
                                    <div class="c-post__content">
                                        <div class="c-post__desc">
                                            <p>Sleep Easily downloaded over 400,000 times – generating consistent revenues.</p>
                                        </div>
                                        <div class="c-post__read-more">
                                            <a href="#">Continue reading...</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                            <li class="c-posts-list__item">
                                <div class="c-post">
                                    <img class="c-post__thumbnail" src="static/img/column_image_2.png" alt="column image 2">
                                    <div class="c-post__content">
                                        <div class="c-post__desc">
                                            <p>Canvsly featured on TechCrunch and winner of the Kiip Build Fund 2013 and Mom’s Choice Awards.</p>
                                        </div>
                                        <div class="c-post__read-more">
                                            <a href="#">Continue reading...</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </li>
        
                            <li class="c-posts-list__item">
                                    <div class="c-post">
                                    <img class="c-post__thumbnail" src="static/img/column_image_4.png" alt="column image 4">
                                    <div class="c-post__content">
                                        <div class="c-post__desc">
                                            <p>Glenn Harrold, celebrity hypnotherapist, crosses 2 million downloads for his apps.</p>
                                        </div>
                                        <div class="c-post__read-more">
                                            <a href="#">Continue reading...</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>