{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 11", "not ie <= 10"]
                },
                "useBuiltIns": "entry",
                "debug": false,
                "modules": "commonjs"
            }
        ]
    ],
    "ignore": ["node_modules"]
}
