.c-contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1rem;

    &__heading {
        font-size: 2.4rem;
        font-weight: 600;
        color: $grey;
        margin-bottom: 1rem;
    }

    &__field {
        width: 50%;
        padding: 1rem;
        margin: 0;

        &--big {
            width: 100%;
        }

    }

    &__actions {
        width: 50%;
        padding: 1rem;

        .c-btn {
            width: 100%;
        }
    }

}