.c-heading {
    text-transform: uppercase;

    &--underscored {
        &::after {
            display: block;
            content: "";
            border-bottom: 2px solid $black;
            margin: 4.7rem 0;
            width: 7rem;
        }
    }
}